<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAccepts</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Optional</key>
		<true/>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
			<string>com.apple.cocoa.url</string>
			<string>com.apple.cocoa.string</string>
			<string>public.item</string>
			<string>public.image</string>
			<string>public.text</string>
			<string>public.url</string>
			<string>public.data</string>
		</array>
	</dict>
	<key>AMApplication</key>
	<string>JSTalk Editor</string>
	<key>AMCanShowSelectedItemsWhenRun</key>
	<true/>
	<key>AMCanShowWhenRun</key>
	<true/>
	<key>AMCategory</key>
	<string>AMCategoryUtilities</string>
	<key>AMDefaultParameters</key>
	<dict>
		<key>script</key>
		<string>function run(input, parameters) {
	
	/* Your script goes here */
    
	return input;
}</string>
	</dict>
	<key>AMDescription</key>
	<dict>
		<key>AMDSummary</key>
		<string>Runs a JSTalk script</string>
	</dict>
	<key>AMIconName</key>
	<string>JSTalk</string>
	<key>AMKeywords</key>
	<array/>
	<key>AMName</key>
	<string>JSTalk</string>
	<key>AMProvides</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>AMRequiredResources</key>
	<array/>
	<key>AMWarning</key>
	<dict>
		<key>Action</key>
		<string>com.apple.Automator.CopyFiles</string>
		<key>ApplyButton</key>
		<string>Add</string>
		<key>IgnoreButton</key>
		<string>Don&apos;t Add</string>
		<key>Level</key>
		<integer>0</integer>
		<key>Message</key>
		<string>(* Warning message presented to user goes here. *)</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0, Copyright © 2009 Flying Meat Inc, All Rights Reserved</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>org.jstalk.Automator.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2009 Flying Meat Inc, All Rights Reserved.</string>
	<key>NSPrincipalClass</key>
	<string>JSTAutomator</string>
</dict>
</plist>
